function-calling-and-strucutured-outputs/.env
working-with-openai-api/.env
rag/.env
agents/.env
crew-ai/.env
langchain-and-langgraph/.env
gpt/gpt_env
.env
venv
trainer_output/*
rag/models/*
rag/tmp_trainer/*
msmarco/collectionandqueries/collection.tsv